<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tessarect-bot</title>
</head>
<body>
    <nav>
        <label class="Logo">Tessarect-bot</label>
        <ul>
            <li><a href="https://tessarect-website.prakarsh17-coder.repl.co/">Main Website</a></li>
            <li><a href="https://discord.com/api/oauth2/authorize?client_id=916630347746250782&redirect_uri=https%3A%2F%2Ftessarect.prakarsh17.senarc.org%2Foauth%2Fdiscord&response_type=code&scope=identify%20guilds">Dashboard</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1>Tessarect</h1>
        <br>
        <p>The Advanced Discord Bot</p>
        <br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=916630347746250782&redirect_uri=https%3A%2F%2Ftessarect.prakarsh17.senarc.org%2Foauth%2Fdiscord&response_type=code&scope=identify%20guilds"><button>Login To Dashboard</button></a>
        <a href="https://tessarect-website.prakarsh17-coder.repl.co/"><button>Go to Main Website</button></a>      
      </div>
</body>
</html>